html{
    font-size: 10px;
    font-family: 'Montserrat', cursive;
    letter-spacing: 2px;
}

body{
    background: linear-gradient(#3b3b3b, #2b2b2b);
    min-height: 100vh;
    color: whitesmoke;
    font-size: 1.4rem;
    margin: 2rem auto;     /* 2 top&bottom, auto left&right */
    padding: 2rem;
    text-align: center;
    background-image: url("background\ music\ player.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#project_ref{
    font-size: small;
}

.player{
    font-size: small;
    background: radial-gradient( #2c2a2a,#595656);
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 0.75rem;
}

.songs{
    background: radial-gradient( #2c2a2a,#595656);
    padding: 2rem;
    border-radius: 2rem;
}

img{
    width: 30%;
    padding: 2rem;
    margin: 0.5rem 0.5rem;
}

#controls{
    border: 1px #000000 solid;
    border-radius: 1rem;
    padding: 1.6rem;
}

.control_wrapper > span {
    cursor: pointer;
    color: #000000;
    font-size: 6rem;
    padding: 2rem;
}

#currentSong{
    overflow: hidden;   /*as soon as text would go over border of div this text (over border) will be hidden*/
}

#songlist{
    overflow: hidden;
}

#songs-header{
    padding: 0.5rem;
    margin: 0.5rem 0.5rem;
}

li{
    cursor: pointer;
    padding: 1.5rem;
}

li:hover{
    background: #F8C0BF;
    color: #2c2a2a;
}

a{
    color: whitesmoke;
    font-size: small;
}

#progress{
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    /* For IE10 */
    background: #C4E7E1;
}

/* For Firefox */
progress::-moz-progress-bar {
    background: #C4E7E1;
}
  
/* For Chrome or Safari */
progress::-webkit-progress-value {
    background: #C4E7E1;
}  

.pulse{
    animation: pulse;
    animation-duration: 0.4s;
}

#logo{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

#github{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

@keyframes pulse{
    from{
        transform: scale(1);    /*same size at beginning*/
    }
    50%{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}

@media(min-width: 800px){
    body{
        max-width: 60vh;
        font-size: 1.8rem;
    }
}